body{
	background:#000;
	margin:0px;
	padding:0px;
}

html{
	margin:0px;
	padding:0px;
}

.title{
	color:#fc0;
	text-align:center;
	font-family:DigitalTech;
	font-size:100px;
	margin:auto;
	background:#f00;
	padding-top:60px;
}

.header{
	color:#f00;
	font-family:AmericanCaptainPatrius;
	text-decoration:underline;
	text-decoration-color:#fc0;
	text-align:center;
	margin:auto;
	margin-top:80px;
	font-size:60px;
}

.subheader{
	color:#f00;
	font-family:AmericanCaptainPatrius;
	text-align:center;
	margin:auto;
	margin-top:30px;
	font-size:45px;
}
 
.content{
	margin:auto;
	width:700px;
	font-family:NF-DejaVuSansM-Mono;
	color:#fff;
}

a.content{
	color:#fc0;
}

a.content:hover{
	color:#fff;
}

.navbar{
	text-align:center;
	background-color:#222;
	padding:20px;
	font-family:AmericanCaptainPatrius;
	position:fixed;
	width:100%;
	z-index:100;
}

.navlink{
	color:#fff;
	text-decoration:none;
	padding:5px;
}

.navlink:hover{
	background:#f00;
}

.navlink-active{
	color:#f00;
	padding:5px;
}

.banner-image{
	width:100%;
	height:100%;
	margin-bottom:60px;
}

.icon-link{
	font-family:NF-DejaVuSansM-Mono;
	font-size:80px;
	text-align:center;
	padding-top:100px;
}

.icon-email{
	color:#f44;
	text-decoration:none;
}

a.icon-email:hover{
	text-decoration:underline;
	text-decoration-color:#fff;
}

.icon-instagram{
	color:#f84;
	text-decoration:none;
}

a.icon-instagram:hover{
	text-decoration:underline;
	text-decoration-color:#fff;
}

.icon-facebook{
	color:#4af;
	text-decoration:none;
}

a.icon-facebook:hover{
	text-decoration:underline;
	text-decoration-color:#fff;
}

.icon-twitter{
	color:#fff;
	text-decoration:none;
}

a.icon-twitter:hover{
	text-decoration:underline;
	text-decoration-color:#fff;
}

.footer{
	background-color:#222;
	width:100%;
	margin:0;
	position:absolute;
}

.footer-content{
	color:#fff;
	text-align:center;
	float:center;
	margin:auto;
	padding-left:50px;
	position:relative;
}

.photo-frame{
	margin:auto;
	padding:0px;
	border-style:solid;
	border-width:5px;
	border-color:#222;
}

.photo{
	object-fit:contain;
	width:100%;
	height:100%;
	margin:0px;
}